
.eventBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}
.eventCard {
    position: relative;
    border-radius: 20px;
    background-color:green;
    width: 100vw;
    box-shadow: none;
}

.eventImageBox {
    border-radius:20px;
    width:100%;
    height: 50vh;
    object-fit: contain;
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eventImageBox img{
    object-fit: cover;
    width:1000px;
    border-radius: 20px;
}
.eventCardContent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    // z-index: 'tooltip';
    bottom: 0;
    width: 100%;
}
@media (max-width: full) {
    
}

@media (max-width: 1050px){
    .heading{
        font-size: 36px;
    }
    
}
@media (max-width:900px) {
    .eventBox{
        margin:50px;
    }
    .heading{
        font-size: 32px;
    }
}

@media (max-width: 600px){
   

}
