.container{
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: rgb(233, 106, 106); */
        /* height: 90vh; */
        margin:0px 50px;

}
.carousel{
    height:85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(92, 240, 134);
    border-radius: 20px;
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);

}
.imageBox{
    height:700px;
    width:80%;
    border-radius: 20px;
    object-fit: cover;
}
.swiper-button-next { 
    color: #fff; 
}
.swiper-button-prev {
    color: #fff;
}
/* .swiper{
    background-color: blueviolet;
    max-height: 200px;
    border-radius: 20px;
} */