.container{
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: rgb(233, 106, 106); 
        // height: 90vh; 
        margin:0px 50px;

}
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    // background-color: red;
    // box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);
}
.carouselItems {
    margin-top: 10rem;
    display: flex;
    flex-grow:80%;
    border-radius:20px;
}
.imageBox{
    height:700px;
    width:80%;
    border-radius: 20px;
    object-fit: cover;
}
.swiper-button-next { 
    color: #fff; 
}
.swiper-button-prev {
    color: #fff;
}
.carouselCard {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    overflow: hidden;
    height:100%;
}
.carouselCardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:80%;
    color: rgb(253, 245, 245);
}
.carouselCardContent h1{
    font-weight: 700;
    font-size: 48px;
    // line-height: 96px;
    // background-color: blue;

}
.carouselCardContent p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    // line-height: 48px;
    text-align: center;
    margin-top: -20px;
    // background-color: red;
}


@media (max-width: 1050px) {
    .carouselCardContent{
        width:80%;
    }
    .carouselCardContent h1{
        font-size: 36px;
    }
    .carouselCardContent p{
        font-size: 20px;
    }
}

@media (max-width: 900px){
    .carouselCardContent{
        width: 90%;
    }
    .carouselCardContent h1{
        font-size: 32px;
    }
    .carouselCardContent p{
        font-size: 16px;
    }
}

@media (max-width: 600px){
    .carouselCardContent h1{
        font-size: 24px;
    }
    .carouselCardContent p {
        font-size: 12px;
    }
}