// Big card Css
.bigCard{
    height:50vh;
    width:80vw;
    background-color: rgb(55, 52, 52);
    border-radius: 20px;
}
.bigCard img{
  // position:relative;
  // height: 50vh;
  // width:80vw;
  object-fit:contain;
  border-radius: 20px;
}

// Video card Css
.videoCard{
    height:60vh;
    width:60vw;
    background-color: rgb(55, 52, 52);
    border-radius: 20px;
}

// Project card css
// Card1
.projectCard1{
    height: 280px;
    width:280px;
    border-radius: 20px;
    background-color: #fff;
    margin:1rem;
    padding:1rem;
}
.projectCard1:hover{
  box-shadow: 0px 120px 48px rgba(115, 104, 104, 0.01), 0px 68px 41px rgba(115, 104, 104, 0.05), 0px 30px 30px rgba(115, 104, 104, 0.09), 0px 8px 17px rgba(115, 104, 104, 0.1), 0px 0px 0px rgba(115, 104, 104, 0.1);
  cursor: pointer;
}
.projectCard1 p{
  font-size: 1rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
}
.card1logo{
  display: flex;
  padding: 1rem;
}
.card1Icons{
  margin:0 1rem;
  font-size: 1.5rem;
}
// Card2
.projectCard2{
    height: 280px;
    width:280px;
    border-radius: 20px;
    background-color: #fff;
    margin:1rem;
    overflow: hidden;
}
.card2Logo{
    height:70%;
    border-radius: 20px 20px 0 0;
    background-color: rgba(241, 86, 74, 0.3);
    width:100%;
    padding:2rem;
}
.card2Content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card2IconBox{
  text-align: center;
  line-height: 0.5rem;
  padding:0.5rem;
  cursor: pointer;
}
.card2IconBox p{
  font-size: 1rem;
  font-weight: 300;
}
.card2Icons{
  font-size: 2rem;
  margin: 0 1rem;
  cursor: pointer;
}

// Profile Card
.profileCard{
   height: 320px;
    width:300px;
    border-radius: 20px;
    background-color: #fff;
    margin:1rem;
    overflow: hidden;
}
.profilePic{
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profilePic img{
  height:10rem;
  width:10rem;
  border-radius: 50%;
  background-color: rgb(90, 88, 88);
  object-fit: cover;
}
.profilePicContent p{
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 1rem;
}
.profileSocial{
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: green;
  margin: 0 3rem;
}

// Case Study Card
.caseStudyCard{
  background-color: #fff;
  height: 10rem;
  width: 20rem;
  border-radius: 20px;
  margin:1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.caseStudyCard:hover{
  cursor: pointer;
  box-shadow: 0px 120px 48px rgba(115, 104, 104, 0.01), 0px 68px 41px rgba(115, 104, 104, 0.05), 0px 30px 30px rgba(115, 104, 104, 0.09), 0px 8px 17px rgba(115, 104, 104, 0.1), 0px 0px 0px rgba(115, 104, 104, 0.1);
}
.caseStudyCard_logo{
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}
.caseStudyCard_content{
  padding: 0 0.5rem;
}
.caseStudyCard_content p{
  font-size: 0.9rem;
  // background-color: red;
  font-weight: 300;
  line-height: 1rem;
}
.caseStudyCard_link {
  font-size: 1rem;
  line-height: 1rem;
  text-align: right;
  padding: 0 1rem;
}

// Count card
.countCard{
  height:6rem;
  width:15rem;
  background-color: #fff;
  border-radius: 20px;
  line-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:1rem;
}
.countCard h1{
  font-size: 3rem;
  padding: 0 0.5rem;
}
.countCard p{
  font-size: 1rem;
}

// Blog Card
.blogCard{
  background-color: #fff;
  // height: 50vh;
  width:85vw;
  margin: 1rem;
  border-radius: 20px;
}
.blogCardHeading{
  margin: 1.5rem;
  font-weight: 500;
  font-size: 1.5rem;
}
.blogCardDescription {
  margin:1.5rem;
  font-weight: 300;
  font-size: 1rem;
}
.blogCardLink{
  font-size:1rem;
  font-weight: 500;
  padding: 1rem;
  text-align: right;
  cursor: pointer;
}

// ctaCard
.ctaCard {
  // height: 40rem;
  width:70%;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconCard {
  height:200px ;
  width:200px;
  background-color: #fffefef2;
  border-style: solid;
  border-width: thin;
  // margin:1rem;
}

@media (max-width: full) {
  
}
@media (max-width:1050px){
    .bigCard{
        height:45vh;
        width:85vw;
      }
      .videoCard{
        height:45vh;
        width:65vw;
      }
}
@media (max-width: 900px){
    .bigCard{
        height:40vh;
        width:85vw;
      }
      .videoCard{
        height:45vh;
        width:70vw;
      }
}

@media (max-width: 600px){
  .bigCard{
    height:30vh;
    width:90vw;
  }
  .videoCard{
    height:40vh;
    width:90vw;
  }
}