
.persona{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.personaCard {
   cursor: pointer;
   position: relative;
   border-radius: 20px;
   box-shadow: none;
}
.cardContent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:1rem;
    width: 100%; 
}
.cardMedia{
    height:300px;
    width:500px;
    border-radius: 20px;
    margin:1rem;
}
.cardMedia img{
    object-fit: fill;
    border-radius:20px;
}
.cards{
    width:80%;
    display: flex;
    justify-content: space-between;
    margin:3rem;
    // background-color: yellow;
}
.inverseCard{
    width:80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin:3rem;
}
.inverseCard p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #655858;
    // background-color: red;
    margin:10px 20px;
}
.cards p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #655858;
    // background-color: red;
    margin:10px 20px;
}
.contentBox {
    width:50%;
    margin:0.5rem;
    // background-color: orange;
}

@media (max-width: full) {
   
}

@media (max-width: 1050px){
    .cardMedia{
        height: 250px;
        width:400px;
    }
    .cards p{
        font-size: 16px;
    }
    .inverseCard p{
        font-size: 16px;
    }
    .heading{
        font-size: 36px;
    }
    
    
}
@media (max-width:900px) {
    .cardMedia{
        height: 200px;
        width:350px;
    }
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:90%;
        margin: 2rem;
    }
    .inverseCard{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:90%;
        margin: 2rem;
    }
    .contentBox{
        width:90%;
    }
    .heading{
        font-size: 32px;
    }
    
}

@media (max-width: 600px){
    .persona{
        margin-top: 2rem;
    }
    .cards {
        margin:1rem;
    }
    .inverseCard{
        margin:1rem;
    }
    .cardMedia {
        height:200px;
        width:350px;
        margin:1rem;
    }
    .cardContent{
        bottom:0.5rem;
        width: 100%;
    }
}