

.appBar {
    background-color: #fff;
    color : #111;
    box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.1);
    height: 6rem;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 300;
    // position: fixed;
    // top:0;
}

.toolBar {
    width: 90vw;
    display: flex;
    flex-direction: row;
    // background-color: rgb(72, 54, 54);
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px 0 100px;
}


.typography {
    font-size: 1 rem; 
    font-family: 'Poppins', 'sans-serif';
    font-weight: normal;
    margin-left: 2.5rem;
    text-decoration: none;
    cursor: pointer;
}

.logo{
    height: 50px;
    width:280px;
    cursor: pointer;
}

.toolbarItems {
    display: flex;
    align-items: center;
    justify-content: center;
}
.popover{
    display: flex;
    align-items:flex-start;
    margin-top: 0rem;
    justify-content: center;
}

.navbarHover {
    background-color:#f9f9f9;
    padding:3rem;
    color: #606060;
    min-height:350px;
    min-width: 900px;
    margin: 3rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0px 37px 15px rgba(0, 117, 201, 0.01)) drop-shadow(0px 21px 12px rgba(0, 117, 201, 0.05)) drop-shadow(0px 9px 9px rgba(0, 117, 201, 0.09)) drop-shadow(0px 2px 5px rgba(0, 117, 201, 0.1)) drop-shadow(0px 0px 0px rgba(0, 117, 201, 0.1));
}
.navbarBox {
    width:100vw;
    // padding: 10px;
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbarContent {
    color: #606060;
    height: 100%;
    font-family: 'Poppins';
}
.navbarContent li {
    list-style: none;
    line-height: 2.5rem;
}
.navbarHeading {
    color:#111;
    font-weight: 500;
}
.navbarCards {
    box-shadow: #606060;
    // max-width: 400px;
    height: 100%;
    width:300px;
    border-radius:20px;
    // background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbarCardsImageBox {
    // background-color: red;
}
.navbarCards img {
    border-radius: 20px;
    object-fit: contain;
}
.navbarCardContent {
    color:#111;
    margin-top: 10px;
}
.navbarCards p {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Menu Item
.menuContainer {
    width:100vw;
    height: auto;
    border-radius: 20px;
}
.menuItem {
    width:100vw;
    background-color: white;
    // margin-top: 1rem;
}
.menuItem h2{
    padding:0 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    cursor:pointer;
}
.menuItemList {
    padding: 0 1rem;
}
.menuItemList p {
    padding:4px 10px;
    border-radius: 50px;
    width:90%;
    line-height: 1rem;
}
.menuItemList p:hover {
    background-color: rgb(228, 222, 222);
    cursor:pointer;
}

@media (max-width: full) {
    .logo{
         height: 50px;
         width: 250px;
    }
    .toolbarItems {
        display: inline-block;
    }
}

@media (max-width: 1050px){
    .typography{
        font-size: 12px;
    }
    .logo{
        height: 40px;
        width: 200px;
    }
    .toolbar {
        margin: 0px 50px 0 50px;
    }
    
}
@media (max-width:900px) {
    .toolbarItems{
        display: none;   
    }
    .navbarHover{
        height: 200px;
        width: 800px;
        position: absolute;
    }
}

@media (max-width: 600px){
    .toolbar {
        margin: 0px 20px 0 20px;
    }

}

